<h1>Hello 
    <%= user.name %>!
    <br>
    <br>
    <div class="plan">
        Your Plans:
        <a href="/profile/plans">
            Click for details!
        </a>    
    </div>
    <div class="plan">
        Your Events:
        <% events.forEach(function(event) { %>
            <div class="event">
                <h3>
                    <%= event.title %>
                    <br>
                    <br>
                    <%= event.location %>
                    <br>
                    <br>
                    <%= event.date %>
                    
                </h3>
            </div>
        <% }) %>
    </div>
    <div class="plan">
        Your Restaurants:
        <% restaurants.forEach(function(restaurant) { %>
            <div class="restaurant">
                <h3>
                    <%= restaurant.name %> @
                    <%= restaurant.location %>
                </h3>
            </div>
        <% }) %>
    </div>
</h1>